{% extends 'base_user.html' %}

{% block title %}
    Crear Sesión
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Logo -->
        <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">

        <!-- Formulario de Crear Sesión -->
        <div class="formulario">
            <h2>¿Qué curso veremos hoy?</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST" action="{% url 'create_session' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="course">Curso:</label>
                    <select id="course" name="course" class="form-control" required>
                        <option value="">Selecciona un curso</option>
                        {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.subject }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-guardar">Crear Sesión</button>
            </form>
        </div>
    </div>
{% endblock content %}
