{% extends 'base_admin.html' %}

{% block title %}
    Crear Estudiante
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Logo -->
        <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">

        <!-- Formulario de Crear Estudiante -->
        <div class="formulario">
            <h2>Crear Estudiante</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="group">Grupo:</label>
                    <input type="text" id="group" name="group" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="attendant_name">Nombre del Acudiente:</label>
                    <input type="text" id="attendant_name" name="attendant_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="attendant_phone">Teléfono del acudiente:</label>
                    <input type="text" id="attendant_phone" name="attendant_phone" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-guardar">Guardar Estudiante</button>
            </form>
        </div>
    </div>
{% endblock content %}
