{% extends 'base_admin.html' %}

{% block title %}
    Crear Curso
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Logo -->
        <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">

        <!-- Formulario de Crear Curso -->
        <div class="formulario">
            <h2>Crear Curso</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="teacher">Profesor:</label>
                    <select id="teacher" name="teacher" class="form-control" required>
                        <option value="">Selecciona un profesor</option>
                        {% for teacher in teachers %}
                            <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="students">Estudiantes:</label>
                    {% for student in students %}
                    <div style="border: 1px solid black; margin-bottom: 5px;">
                        <input type="checkbox" name="students" value="{{ student.id }}">
                        <label for="{{ student.id }}">{{ student.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="subject">Materia:</label>
                    <input type="text" id="subject" name="subject" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="competencies">Competencias a Alcanzar:</label>
                    <textarea id="competencies" name="competencies" class="form-control" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="initial_date">Fecha Inicial:</label>
                    <input type="date" id="initial_date" name="initial_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="final_date">Fecha Final:</label>
                    <input type="date" id="final_date" name="final_date" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-guardar">Guardar Curso</button>
            </form>
        </div>
    </div>
{% endblock content %}
