{% extends 'base_user.html' %}

{% block title %}
    Enviar Reporte
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Logo -->
        <div class="logo-container text-center">
            <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">
        </div>

        <h1 class="text-center">Enviar Reporte</h1>
        <div class="formulario">
            <h2>Reporte de {{ student.name }}</h2>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="attended">Asistencia</label>
                    <select id="attended" name="attended" class="form-control" required>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="virtual_course">¿Realizó el curso virtual?</label>
                    <select id="virtual_course" name="virtual_course" class="form-control" required>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="remedial_course">¿Aprobó el curso remedial?</label>
                    <select id="remedial_course" name="remedial_course" class="form-control" required>
                        <option value="Si">Sí</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="observations">Observaciones:</label>
                    <textarea id="observations" name="observations" class="form-control" rows="5" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-enviar-reporte">Enviar Reporte</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
