{% extends 'base_user.html' %}

{% block title %}
    Ver estudiantes
{% endblock %}



{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Estudiantes del Curso</title>
    <!-- Estilos de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">    
</head>
<body>
    <div class="container">
        <h1>Estudiantes del Curso</h1>
        {% if students %}
            {% for student in students %}
                <div class="curso">
                    <h2>{{ student.name }}</h2>
                    <p>Grupo: {{ student.group }}</p>
                    <p>Nombre del acudiente: {{ student.attendant_name }}</p>
                    <p>Teléfono del acudiente: {{ student.attendant_phone }}</p>
                    <a href="{% url 'generate_report' session_id last student.id  %}" class=".btn btn-enviar-reporte">Reportar</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay estudiantes en este curso.</p>
        {% endif %}
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock content %}
