{% extends 'base_user.html' %}

{% block title %}
    Lista de Cursos
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Logo -->
        <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">

        <h1>Lista de Cursos</h1>
        {% if courses %}
            {% for course in courses %}
                <div class="curso">
                    <h2>{{ course.subject }}</h2>
                    <p>Competencias: {{ course.competencies }}</p>
                    <p>Fecha inicial: {{ course.initial_date }}</p>
                    <p>Fecha final: {{ course.final_date }}</p>
                    <p>Profesor: {{ course.teacher.name }}</p>
                    <a href="{% url 'show_students' course_id=course.id %}" class="btn btn-enviar-reporte">Mostrar estudiantes</a>
                </div>
            {% endfor %}
        {% else %}
            <p>No hay cursos disponibles.</p>
        {% endif %}
    </div>
{% endblock content %}
