{% extends 'base_user.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Logo -->
    <img src="https://www.juanmariacespedes.edu.co/images/logofull-2.png" alt="Logo de la empresa" class="logo">

    <!-- Botones -->
    <div class="boton">
      <a href="{% url 'create_session' %}" class="btn btn-crear-estudiante">Crear Sesión</a>
      <a href="{% url 'show_my_courses' %}" class="btn btn-ver-cursos">Ver Mis Cursos</a>
    </div>
  </div>

  <!-- Estructuras adicionales -->
  <div class="container estructura">
    <div class="row">
      <div class="col-md-6">
        <div class="columna">
          <h2>¿Quieres conocer más sobre la institución?</h2>
          <a href="https://www.juanmariacespedes.edu.co" class="btn btn-primary">¡Da click aquí!</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
